@import 'login';
@import "../assets/fontAwesome/scss/fontawesome.scss";
@import "../assets/fontAwesome/scss/solid.scss";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $light-grey;
    height: 100vh;
    font-family: $font-main;
}

a{
    text-decoration: none;
}

.navBar{
    background-color: white;
    border-bottom: 1px solid $grey;
    height: 3rem;
    @extend .flex-align-justify-center;

    .instaLogo{
        font-family: $font-logo;
        font-size: 1.5rem;
        display: inline-block;
        margin-inline-end: 10em;
    }
    .inputSearch{
        background-color: $light-grey;
        border-radius: $border-radius;
        padding-inline-start: 2%;
        i{
            color:$grey;
        }
        #search{
            border: none;
            padding: $standard-margin;
            background-color: transparent;
            :focus{
                border:none;
            }
        }
        ::placeholder{
            color: $grey;
        }
    }
    .navList{
        display: inline-flex;
        list-style: none;
        padding: 0;

        .navItem{
            display: inline-block;

            a{
                text-decoration: none;
                .profile{
                    @include profileImg(1.5rem);
                }
                .iconNav{
                    margin-inline-start: 1.5rem;
                    width: 25px;
                    object-fit: cover;
                }
            }
        }
    }
}

.containerPost{
    display: flex;
    justify-content: center;

    .post{
        background-color: $principal-color;
        border: $border;
        border-radius: $border-radius;
        width: 35%;
        margin-top: 2rem;

        .user {
            display: flex;
            margin-inline-start: $standard-margin;
            .borderGradient{
                @include borderGradient;
            }
            .userPost{
                @include profileImg(3rem);
            }
            .userName{
                @extend .flex-align-center;
                margin-inline-start: $standard-margin;
            }
        }

        .imgPost{
            width: 100%;
        }

        figcaption{
            margin-top: $standard-margin;
            margin-inline-start: 2rem;
            margin-inline-end: 2rem;
            .footerPost{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .action{
                    .postIcon{
                        @include figcaption;
                    }
                    :hover{
                        filter: $filter-icon;
                    }
                }
                .mark{
                    display: flex;
                    justify-content: flex-end;
                    @extend .action;
                }
            }
            .containerComments{
                margin-top: $standard-margin;
                .likes{
                    font-weight: bold;
                    margin-bottom: $standard-margin;
                }
                .comments{
                    display: flex;
                    margin-bottom: $standard-margin;
                    .black{
                        font-weight: bold;
                    }
                }
                .date{
                    text-transform:uppercase;
                    font-size: small;
                    color: $grey;
                }
            }
        }
    }
}