<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/style.css" />
    <title>Document</title>
</head>

<body>
    <nav class="navBar">
        <h1>Instagram</h1>
        <div class="input-wrapper">
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
        <ul>
            <li>
                <a href="#"><img src="../assets/img/home.png" alt="home" /></a>
            </li>
            <li>
                <a href="#"><img src="../assets/img/chat.png" alt="chat" /></a>
            </li>
            <li>
                <a href="#"><img src="../assets/img/add.png" alt="add Post" /></a>
            </li>
            <li>
                <a href="#"><img src="../assets/img/location.png" alt="location" /></a>
            </li>
            <li>
                <a href="#"><img src="../assets/img/like.png" alt="likes" /></a>
            </li>
            <li>
                <a href="#"><img src="../assets/img/home.png" alt="profile" /></a>
            </li>
        </ul>
    </nav>
    <section></section>
</body>

</html>