<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/style.css" />
    <title>Document</title>
</head>

<body>
    <nav class="navBar">
        <h1 class="instaLogo">Instagram</h1>
        <div class="inputSearch">
            <i class="fas fa-search"></i>
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
        <ul class="navList">
            <li class="navItem">
                <a href="#"><img class="iconNav" src="../assets/img/home.png" alt="home" /></a>
            </li>
            <li  class="navItem">
                <a href="#"><img class="iconNav" src="../assets/img/chat.png" alt="chat" /></a>
            </li>
            <li  class="navItem">
                <a href="#"><img class="iconNav" src="../assets/img/add.png" alt="add Post" /></a>
            </li>
            <li  class="navItem">
                <a href="#"><img class="iconNav" src="../assets/img/location.png" alt="location" /></a>
            </li>
            <li  class="navItem">
                <a href="#"><img class="iconNav" src="../assets/img/like.png" alt="likes" /></a>
            </li>
            <li  class="navItem">
                <a href="#"><img class="iconNav profile" src="../assets/img/post0.jpg" alt="profile" /></a>
            </li>
        </ul>
    </nav>
    <section class="containerPost">
        <figure class="post">
            <div class="user">
                <div class="borderGradient">
                    <img class="userPost" src="../assets/img/post0.jpg" alt="user">
                </div>
                <p class="userName">userName</p>
            </div>
            <img class="imgPost" src="../assets/img/post6.jpg" alt="post">
            <figcaption>
                <nav class="footerPost">
                    <div class="action">
                        <img class="postIcon" src="../assets/img/like.png" alt="like">
                        <img class="postIcon" src="../assets/img/comment.png" alt="comment">
                        <img class="postIcon" src="../assets/img/chat.png" alt="chat">
                    </div>
                    <div class="galery">
                    </div>
                    <div class="mark">
                        <img class="postIcon" src="../assets/img/mark.png" alt="mark">
                    </div>
                </nav>

                <article class="containerComments">
                    <p class="likes">45 Likes</p>
                    <div class="comments">
                        <p><span class="black">userName</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus asperiores facilis, corporis, nihil eum natus impedit ipsum molestiae magni similique praesentium molestias exercitationem odit deserunt maiores, qui nisi perferendis adipisci!</p>
                    </div>
                    <p class="date">date</p>
                </article>
            </figcaption>
        </figure>
    </section>
    <aside>

    </aside>
</body>

</html>